#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ffffff;
  /* Use box-shadow instead of border so the text isn't offset */
  /* box-shadow: inset 0 -3px transparent; */
  /* Avoid rounded borders under each workspace name */
  border: none;
  margin: 5px;
  border-radius: 5px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: @workspace-inactive-hover;
  box-shadow: none;
  border: none;
}

#workspaces button.focused {
  background-color: @workspace-focused;
  color: #ffffff;
  font-weight: bolder;
}

#workspaces button.urgent {
  background-color: @urgent;
  color: #121418;
}
