/* colors */

* {
  al:      #00000000;
  bg:      #1d1f21ff;
  se:      #3c3836ff;
  fg:      #ffffffff;
  ac:      #82a396ff;
  red:     #EC7875ff;
  green:   #abac27ff;
  yellow:  #FDD835ff;
  blue:    #83a598ff;
  purple:  #BA68C8ff;
  cyan:    #8ec07cff;
}
