* {
  border: none;
  font-family: JetBrains Mono, Ubuntu Nerd Font, Weather Icons, archcraft,
    sans-serif;
  font-size: 19.5px;
  font-weight: bold;
  min-height: 0;
}

window#waybar {
  background-color: transparent;
}

#disk,
#custom-memory {
  background-color: #3a3a3a;
  padding: 0 10px;
  margin: 3px 0px;
}

#disk {
  color: #2aa1b3;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#custom-memory {
  color: #a347ba;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

#cpu,
#custom-gputmp {
  background-color: #3a3a3a;
  padding: 0 10px;
  margin: 3px 0px;
}

#cpu {
  color: #a2734c;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#custom-gputmp {
  color: #96cdfb;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

#custom-uptime,
#temperature,
#custom-weather {
  background-color: #3a3a3a;
  /*padding: 0 12px;*/
  padding: 0px 10px;
  margin: 3px 0px;
  /*margin: 4px 4px 4px 4px;
  border-radius: 90px;*/
}

#custom-uptime {
  color: #26a269;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#temperature {
  color: #a347ba;
}

#custom-weather {
  color: #2aa1b3;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#workspaces {
  background-color: #242424;
  border-radius: 15px;
}

#workspaces,
#tags,
#mode,
#custom-media,
#custom-fans,
#clock,
#idle_inhibitor,
#language,
#pulseaudio,
#backlight,
#battery,
#network,
#custom-power,
#mpd,
#custom-rofi,
#custom-dunst,
#custom-network,
#custom-kernel,
#window,
#custom-window,
#memory,
#tray {
  background-color: #3a3a3a;
  padding: 0 12px;
  margin: 0;
  border-radius: 90px;
  background-clip: padding-box;
}

#workspaces button {
  padding: 0 4px;
  min-width: 18px;
  color: #12488b;
}

#custom-network {
  color: #e06c75;
  background-color: #242424;
}

#custom-dunst {
  color: #a347ba;
}

#custom-dot {
  color: #38384d;
  font-size: 17px;
  background-color: transparent;
}

#custom-dot2 {
  color: #38384d;
  font-size: 17px;
  background-color: transparent;
}

#custom-dot3 {
  color: #38384d;
  font-size: 17px;
  background-color: transparent;
}

#custom-dunst.enabled {
  color: #a347ba;
}

#custom-dunst.dnd {
  background-color: #a347ba;
  color: #000000;
}

#workspaces button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
  color: #a347ba;
}

#workspaces button.focused {
  color: #a347ba;
}

#workspaces button.urgent {
  color: #e06c75;
}

#memory {
  color: #a347ba;
}

#temperature {
  color: #a347ba;
}

#temperature.critical {
  background-color: #e06c75;
  color: #1e222a;
}

#custom-media {
  background-color: #a347ba;
  color: #1e222a;
}

#custom-fans {
  color: #e06c75;
}

#clock {
  color: #12488b;
}

#mode {
  color: #e06c75;
}

#window {
  color: #26a269;
  background-color: transparent;
}

#custom-power {
  color: #f25287;
  background-color: #242424;
}

#idle_inhibitor {
  color: #abb2bf;
}

#idle_inhibitor.activated {
  background-color: #abb2bf;
  color: #1e222a;
}

#language {
  color: #2aa1b3;
}

#pulseaudio {
  color: #a2734c;
}

#custom-rofi {
  /*color: #a347ba;
  
  background-color: #242424;*/
  font-size: 19px;
  color: #c778dd;
  background-color: #242424;
}

#pulseaudio.muted {
  background-color: #e06c75;
  color: #1e222a;
}

#backlight {
  color: #12488b;
}

#custom-kernel {
  color: #12488b;
}

#battery {
  color: #98c379;
}

#battery.charging,
#battery.plugged {
  background-color: #98c379;
  color: #1e222a;
}

@keyframes blink {
  to {
    background-color: #1e222a;
    color: #e06c75;
  }
}

#battery.critical:not(.charging) {
  background-color: #e06c75;
  color: #1e222a;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network {
  color: #a347ba;
}

#network.disconnected {
  background-color: #e06c75;
  color: #1e222a;
}
