* {
  border: none;
  font-family: JetBrains Mono,Ubuntu Nerd Font,Weather Icons,archcraft,sans-serif;
  font-size: 19.5px;
  font-weight: bold;
  min-height: 0;
}

window#waybar {
  background-color: transparent;
  
}

window > box {
  background: #1a1b26;
  border-radius: 10px;
  min-width: 46px;
  margin: 8px;
  background-clip: border-box;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25), 0 1px 3px 1px rgba(0, 0, 0, 0.25),
    0 2px 6px 2px rgba(0, 0, 0, 0.25);
}

#taskbar {
  background: #1a1b26;
  padding: 0 0.6em;
  margin-right: 10px;
  margin-left: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  color: #ebdbb2;
}

#taskbar button {
  border-radius: 10px;
  background: #24283b;
  color: #a89984;
  margin-right: 6px;
}

#taskbar button.minimized {
  border-radius: 10px;
  background: #24283b;
  color: #a89984;
}

#taskbar button.active {
  border-radius: 10px;
  background: #4e635b;
  color: #ebdbb2;
}

#disk,
#custom-memory,
#cpu,
#custom-gputmp
#custom-uptime,
#temperature,
#custom-weather,
#cpu, #custom-gputmp {
  background-color: #24283b;
  padding: 0 10px;
  margin: 5px 0px;
}
#disk, #custom-memory {
  background-color: #24283b;
  padding: 0 10px;
  margin: 5px 0px;
}

#disk {
  color: #89DDFF;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#custom-memory {
  color: #C792EA;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#cpu {
  color: #FFCB6B;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#custom-gputmp {
  color: #96CDFB;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#custom-uptime, #temperature, #custom-weather {
  background-color: #24283b;
  /*padding: 0 10px;*/
  padding: 0px 10px;
  margin: 5px 0px;
  /*margin: 4px 4px 4px 4px;
  border-radius: 90px;*/
}

#custom-uptime {
  color: #C3E88D;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#temperature {
  color: #C792EA;
  
}

#custom-weather {
  color: #89DDFF;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#temperature {
  color: #C792EA;
}

#temperature.critical {
  background-color: #f07178;
  color: #1a1b26;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#workspaces{
  background-color: #1a1b26;
  border-radius: 10px;
}

#workspaces,
#custom-media,
#custom-fans,
#clock,
#pulseaudio,
#network,
#custom-power,
#mpd,
#custom-rofi,
#custom-network,
#custom-kernel,
#window,
#custom-window,
#memory,
#tray {
  background-color: #24283b;
  padding: 0 10px;
  margin: 5px 5px 5px 5px;
  border-radius: 10px;
  background-clip: padding-box;
}

#workspaces button {
  padding: 0 4px;
  min-width: 18px;
  color: #82AAFF;
}

#custom-network {
  color: #f07178;
  background-color: #1a1b26;

}

#custom-dunst {
  color: #C792EA;
}

#custom-dot{
  color: #38384d;
  font-size: 17px;
  background-color: transparent;
}

#custom-dot2{
  color: #38384d;
  font-size: 17px;
  background-color: transparent;
}

#custom-dot3{
  color: #38384d;
  font-size: 17px;
  background-color: transparent;
}

#workspaces button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
  color: #C792EA;
  
}

#workspaces button.focused {
  color: #C792EA;
}

#workspaces button.urgent {
  color: #f07178;
}

#memory {
  color: #C792EA;
}

#custom-media {
  background-color: #C792EA;
  color: #1a1b26;
}

#custom-fans {
  color: #f07178;
}


#clock {
  color: #82AAFF;
}

#mode {
  color: #FFCB6B;
}

#window {
  color: #C3E88D;
  background-color: transparent;
}

#custom-power {
  color: #f25287;
  background-color: #1a1b26;
}

#pulseaudio {
  color: #FFCB6B;
}

#custom-rofi {
	/*color: #C792EA;
  
  background-color: #1a1b26;*/
  font-size: 19px;
  color: #C778DD;
	background-color: #1a1b26;
}

#pulseaudio.muted {
  background-color: #f07178;
  color: #1a1b26;
}

#custom-kernel {
  color: #82AAFF
}

@keyframes blink {
    to {
        background-color: #1a1b26;
        color: #f07178;
    }
}

#network {
    color: #C792EA
}

#network.disconnected {
    background-color: #f07178;
    color: #1a1b26;
}


