window > box {
  margin: 20px 30px;
  margin-top: 0px;
}

window#waybar {
  background-color: @bar-bg;
  transition-property: background-color;
  transition-duration: 0.5s;
  margin: 10px;
  padding: 10px;
}

window#waybar.hidden {
  opacity: 0.2;
}
