#workspaces button {
  padding: 0 4px;
  background-color: @workspace-button-bg;
  color: #ffffff;
  /* Use box-shadow instead of border so the text isn't offset */
  /* box-shadow: inset 0 -3px transparent; */
  /* Avoid rounded borders under each workspace name */
  border: none;
  margin: 10px 5px;
  border-radius: 5px;
  opacity: 0.8;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: @workspace-button-hover;
  box-shadow: none;
  border: none;
  opacity: 1;
  text-shadow: none;
}

#workspaces button.focused {
  background-color: @workspace-button-focused;
  color: @foreground;
  font-weight: bolder;
}

#workspaces button.urgent {
  background-color: @urgent;
  color: #121418;
}
